<% provide(:title, 'base') %>
<h1>拠点一覧</h1>
<div>
  <table class="table table-bordered table-condensed base-table">
    <tr>
      <td></td>
      <td></td>
      <td>拠点番号</td>
      <td>拠点名</td>
      <td>勤怠種類</td>
    </tr>
  <% @base.each do |base| %>
    <tr>
      <td><%= link_to "修正", edit_basis_path(base) ,class: "btn btn-primary btn-edit"%></td>
      <td><%= link_to "削除", '#', method: :delete,
                data: { confirm: "削除してよろしいですか？" }, class: "btn btn-primary btn-edit"%></td>
      <td><%=base.base_no%></td>
      <td><%=base.base_name%></td>
      <td><%=base.base_type%></td>
    </tr>
  </table>
  <% end %>
  <%= link_to "拠点情報追加",new_basis_path,class: "btn btn-primary" %>
</div>